@import './base.css';

#app {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.welcomeMsg {
  text-decoration: none;
  color: rgba(255, 87, 34, 0.5);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(255, 87, 34, 0.5);
  }
  a.router-link-exact-active:hover {
    background-color: rgba(133, 40, 1, 0.809);
  }
  a.router-link-exact-active {
    color: rgba(255, 196, 0, 0.5);
  }
}

@media (min-width: 1024px) {
  body {
    max-width: 100%;
    place-items: center;
  }

  #app {
    display: grid;
    padding: 0 2rem;
    place-items: center;
  }
}
