@import './base.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.welcomeMsg {
  text-decoration: none;
  color: rgba(255, 87, 34, 0.5);
  transition: 0.4s;
  padding: 3px;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(49, 96%, 49%, 0.756);
  }
}

@media (min-width: 1024px) {
  body {
    max-width: 100%;
    place-items: center;
  }

  #app {
    display: grid;
    padding: 0 2rem;
    place-items: center;
  }
} */
